<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adicionar Produto</title>
  <style th:replace="~{base}"></style>
</head>
<body>
<h1>Adicionar Produto</h1>

<section class="forms">
  <form th:action="@{products}" method="post">
    <label>Nome</label>
    <input type="text" name="name"/>
    <br/>

    <label>Quantidade</label>
    <input type="number" name="quantity"/>
    <br/>

    <label>Preço</label>
    <input type="text" name="price"/>
    <br/>

    <label>Descrição</label>
    <input type="text" name="description"/>
    <br/>

    <button type="submit">Cadastrar</button><button type="button"><a href="products">Voltar</a></button>
  </form>
</section>

</body>
</html>